<?xml version="1.0" encoding="UTF-8"?>

<persistence version="2.1"
			 xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="
        http://xmlns.jcp.org/xml/ns/persistence
        http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">

	<persistence-unit name="primary" transaction-type="JTA">
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
		<!-- <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

 		-->

		<jta-data-source>java:jboss/datasources/flexicoreDS</jta-data-source>
		<!-- <jta-data-source>java:jboss/datasources/flexicoreDSMYSQL</jta-data-source> -->
		<class>com.flexicore.model.Baseclass</class>
		<class>com.flexicore.model.Baselink</class>
		<class>com.flexicore.model.Clazz</class>
		<class>com.flexicore.model.ClazzLink</class>
		<class>com.flexicore.model.SecurityTenant</class>
		<class>com.flexicore.model.SecurityUser</class>
		<class>com.flexicore.model.DocumentationTag</class>
		<class>com.flexicore.model.Operation</class>
		<class>com.flexicore.model.OperationCategory</class>
		<class>com.flexicore.model.OperationToClazz</class>
		<class>com.flexicore.model.Role</class>
		<class>com.flexicore.model.RoleToBaseclass</class>
		<class>com.flexicore.model.RoleToUser</class>
		<class>com.flexicore.model.SecurityLink</class>
		<class>com.flexicore.model.Tenant</class>
		<class>com.flexicore.model.TenantToBaseClassPremission</class>
		<class>com.flexicore.model.TenantToUser</class>
		<class>com.flexicore.model.User</class>
		<class>com.flexicore.model.UserToBaseClass</class>
		<class>com.flexicore.model.TimedLink</class>
		<class>com.flexicore.model.PermissionGroup</class>
		<class>com.flexicore.model.PermissionGroupToBaseclass</class>
		<class>com.flexicore.model.SecurityWildcard</class>
		<class>com.flexicore.model.FilteringInformationHolder</class>
		<class>com.flexicore.model.SortParameter</class>
		<class>com.flexicore.model.BaseclassLongFiltering</class>
		<class>com.flexicore.model.dynamic.ExecutionParametersHolder</class>
		<class>com.flexicore.model.dynamic.DynamicInvoker</class>
		<class>com.flexicore.model.TenantIdFiltering</class>1
		<class>com.flexicore.model.ClazzIdFiltering</class>
		<class>com.flexicore.model.SecurityEntity</class>
		<class>com.flexicore.model.AccessRef</class>
		<class>com.flexicore.model.DynamicInvokerRef</class>
		<class>com.flexicore.model.BaseclassNotIdFiltering</class>
		<class>com.flexicore.model.BaseclassOnlyIdFiltering</class>
		<class>com.flexicore.model.security.PasswordSecurityPolicy</class>
		<class>com.flexicore.model.security.SecurityPolicy</class>
		<class>com.flexicore.model.security.TotpSecurityPolicy</class>
		<class>com.flexicore.request.BaseclassNoSQLFilter</class>
		<class>com.flexicore.request.ClazzFilter</class>
		<class>com.flexicore.request.TenantFilter</class>
		<class>com.flexicore.request.OperationFiltering</class>







		<exclude-unlisted-classes>true</exclude-unlisted-classes>
	</persistence-unit>


</persistence>